html,
body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0 !important;
    padding: 0 !important;
}

.board {
    display: grid;
    grid-template-columns: 100fr 161fr;
    grid-template-rows: auto;
    height: 100vh;
}

.main {
    display: grid;
    margin-left: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto 30px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 60px repeat(3, 1fr);
}

.weekday {
    text-align: center;
    font-size: 2em;
}

.day {
    font-size: 1em;
    margin-left: 3px;
    margin-right: 3px;
}

.today {
    font-size: 1em;
    background-color: dimgray;
    border-radius: 3px;
}

.day_title {
    line-height: 0.8em;
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 0 0 0 0;
}
    .day_title .dayofmonth {
        font-size: x-large;
    }

    .day_title .monthofyear {
        font-size: large;
    }

.single_event {
    font-size: medium;
    line-height: 1em;
}

.all_day {
    background-color: white;
    color: black;
    font-size: medium;
    line-height: 2em;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
}

#dayHeader {
    text-align: center;
    font-size: 2em;
}

#dayContent {
    text-align: left;
    font-size: 2em;
}
